html{
    width:auto;
    margin:0;
    overflow:scroll;
    height:auto;
    background-image:url('background.png');
    background-color:rgb(16, 14, 33);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.container{
    position:static;
    justify-self:center;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.536);
    width:100%;
    padding:15px;
    box-shadow: 2px 5px 2px 5px rgba(0, 0, 0, 0.432);
}

h1{
    font-size:500%;
    text-shadow: 3px 2px 6px white;
}

ul{
    text-shadow: 3px 2px 6px rgba(255, 255, 255, 0.534);

}

#lista-nomes{
    font-size:150%;

}
input{
    border-radius:10px;
    font-size:200%;
    padding:10px;
    background-color:rgba(0, 0, 0, 0);
    border: blueviolet;
    border-style:solid;
    border-radius:10px;
    color:blueviolet;
    text-shadow: 3px 2px 5px rgba(137, 43, 226, 0.727);
    box-shadow: 3px 2px 5px rgba(137, 43, 226, 0.727);
}

input::placeholder{
    text-shadow: 3px 2px 5px rgba(137, 43, 226, 0.727);
    color:rgba(137, 43, 226, 0.334);
}

#erase-button{
    font-size:100%;
    color:rgb(237, 52, 74);
    background-color:rgba(0, 0, 0, 0);
    border: rgb(237, 52, 74);;
    border-style:solid;
    border-radius:10px;
    padding:10px;
    text-shadow: 3px 2px 5px rgb(237, 52, 74);

}

#erase-button:hover{
    background-color:rgba(237, 52, 73, 0.475);
    color:rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    border-style:solid;
    border-radius:10px;
    box-shadow: 3px 2px 6px rgba(237, 52, 73, 0.496);
}

#add-button{
    font-size:100%;
    color:blueviolet;
    background-color:rgba(0, 0, 0, 0);
    border: blueviolet;
    border-style:solid;
    border-radius:10px;
    padding:10px;
    text-shadow: 3px 2px 5px rgba(137, 43, 226, 0.727);
}

#add-button:hover{
    background-color:rgba(137, 43, 226, 0.245);;
    color:rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    border-style:solid;
    border-radius:10px;
    box-shadow: 3px 2px 6px rgba(137, 43, 226, 0.727);

}

#sort-button{
    font-size:100%;
    color:blueviolet;
    background-color:rgba(0, 0, 0, 0);
    border: blueviolet;
    border-style:solid;
    border-radius:10px;
    padding:10px;
    text-shadow: 3px 2px 5px rgba(137, 43, 226, 0.727);
}


.sorteio{
    background-color:rgba(137, 43, 226, 0.474);
    position:static;
    width:50%;
    height: 50%;
    justify-self: end;
    border-radius:10px;
}

